Android-Tracker-History/

Android-Tracker-Android/build/
Android-Tracker-Android/app/build/
Android-Tracker-Android/.gradle/
Android-Tracker-Android/.idea/
Android-Tracker-Android/.kotlin/
Android-Tracker-Android/local.properties
Android-Tracker-Android/gradle.properties
Android-Tracker-Android/pass.jks
Android-Tracker-Android/gradle/
Android-Tracker-Android/*.iml
Android-Tracker-Android/*.ipr
Android-Tracker-Android/*.iws
Android-Tracker-Android/*.log
Android-Tracker-Android/*.apk
Android-Tracker-Android/*.ap_
Android-Tracker-Android/.DS_Store
Android-Tracker-Android/app/build/
Android-Tracker-Android/app/release/

Android-Tracker-API/node_modules/
Android-Tracker-API/.env
Android-Tracker-API/node
Android-Tracker-API/src/localizacoes.db

Android-Tracker-Client/LocationTrackerApp-Client/bin/
Android-Tracker-Client/LocationTrackerApp-Client/obj/
Android-Tracker-Client/LocationTrackerApp-Client/.vs/
Android-Tracker-Client/LocationTrackerApp-Client/*.user
Android-Tracker-Client/LocationTrackerApp-Client/*.suo
Android-Tracker-Client/LocationTrackerApp-Client/*.log

Android-Tracker-Client/Visual Studio 2022/
Android-Tracker-Client/Visual Studio 2022Templates/

**/*.swp
**/*.tmp
**/*~
**/*.bak
**/build/
**/app/build/
**/.gradle/
**/.idea/
**/.kotlin/
**/local.properties
**/gradle.properties
**/pass.jks
**/gradle/
**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/*.apk
**/*.ap_
**/.DS_Store
**/release/
**/node_modules/
**/.env
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.log
**/Visual\ Studio\ 2022/
**/Visual\ Studio\ 2022Templates/
**/.vscode/
**/Thumbs.db
**/*.db
